{% extends 'base.html.twig' %}

{% block title %}Chyba{% endblock %}
{% block h1%}Chyba{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="text-center">{{ exception.message }}</h2>
    </div>
{% endblock %}
